# Ignore Python cache
__pycache__/

# Ignore data folders and slurm logs
/data/
/slurm_output/

# Ignore model checkpoints and weights
*.pt

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
/.vscode/